/* 公共*/
.m-b-30c{margin-bottom: 30%}
.p-t-15{padding-top: 15px}
.w-35{width: 35%}

/*  1.首页 */
.header-1{padding-top: 25px;padding-bottom: 8px}
.con-while{margin: 8px;border-radius: 10px;padding: 10px 0px}
.con-while .label-one{background-image: url("../image/4.png");background-size: 50px 25px;width: 50px;height: 25px;margin-left: 6px;text-align: center;padding: 2px 3px;}
.footer{background-color: #e1e1e1;position: fixed;bottom: 0px;left: 0px;right: 0px;width: 100%;}

/* 1-4 筛选失败 */
.screen{margin-top: 40%}
.screen .btn{padding: 5px 20px;background: #ed3838;border-radius: 8px}

/* 1-6 全部图文*/
.nav-new{padding-top: 10px;padding-bottom: 10px}
.nav-new span{color: #989898;padding: 10px 0px}
.nav-new .nav-new-one{color: #000000;border-bottom: #000000 solid 1px}
.detail{border-left:1px solid #944208;}

/* 1-6 全部图文*/
.con-course{position: absolute;top: 10%;left: 10px}
.border-right{border-right: #d2d2d2 1px solid}
.con-new-one{position: absolute;top: 0px;right: 0px;}

/* 2-2 在售课程 */
.head{text-align: center;padding-top: 20%;padding-bottom: 5%;background-image: url("../ad/20.png");background-size: 100%}
.head .head-star{width: 10px}
.head .head-word{color: #f6f6f6}
.head span{display: block}

.border-down{border-bottom: #d2d2d2 2px solid;}

.cou-head{float: left;margin-left: 10px}

/* 3-1 个人中心 */
.mine{background: #000000}
.myorder{padding: 15px 10px}
.bm-5{border-bottom: #e1e1e1 5px solid}

/* 3-2 个人信息 */
.foot-bc{background: #fff;padding: 20px 0px;position: fixed;bottom: 10%;left: 0px;right: 0px;width: 100%}

/* 3-4 全部课程 */
.cou-right{width: 60%}
.cou-right .cou-sy{position: absolute;right: -8%;top: 42%}
.btn-tk{background: #fff;border-radius: 8px;padding: 5px 25px;margin-left: 20px;border: #000000 1px solid}
.btn-fk{background: #ed3838;border-radius: 8px;padding: 5px 25px;margin-left: 20px;border: #ed3838 1px solid}
.nav-border-down{border-bottom: #000000 1px solid;padding-bottom: 10px}

